<!---Sivuston yläpalkin navigaatio, mikä on joka sivulla käytössä.-->
<h1 id="test">Vieraskirja</h1>
<div class="row align-items-center" id="frontNav">
    <div class="col">
        <a href="guestbook">Vieraskirja</a>
    </div>
    <div class="col">
        <a href="newmessage">Uusi viesti</a>
    </div>
    <div class="col">
        <a href="ajaxmessage">Uusi AJAX viesti</a>
</div>
<hr>