<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/navigator') %>
    <!--En saanut kuvaa toimimaan ladattuna, joten siihen on nyt ainoastaan verkkolinkki.-->
    <img id="frontImg" src="https://live.staticflickr.com/65535/51892449516_46604f1e59_b.jpg">
    <p>Tämä on verkkosivu, josta löytyy vieraskirja. <br>
    Voit kirjoittaa uuden viestin tai lukea muiden kirjoittamia.</p>
</body>
</html>